.resultModal {
    position: absolute;
    top: 80px;
    outline: none;
    border-radius: 8px;
    padding: 0px;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;    
    overflow-y: auto;
}

.resultModal[open] {
    animation: slide-in-from-top 0.45s ease-out;
    border: none;
}

.animateFromLeftToRight {
    position: relative;
    background-color: black;
    width: 0%;
    flex: 0 0 auto;
    transition: all 0.5s;
    animation: expandLeftToRight 0.5s forwards;
}

@keyframes expandLeftToRight {
    to {
        width: 20%;
        /* End with 10% width */
    }
}


.resultModal::backdrop {
    border: none;
}

.resultModal form {
    text-align: right;
}

.imageContainer {
    flex: 1 0 auto;
    position: relative;
    height: calc(100vh - 300px);
    display: flex;
    justify-content: space-between;
    border: none;
    overflow: hidden;
    transition: transform 3s ease-in-out;
}

.leftArrow,
.rightArrow {
    cursor: pointer;
    z-index: 2;
}

.leftArrow {
    position: absolute;
    left: 0px;
    top: 50%;
}

.rightArrow {
    position: absolute;
    right: 0px;
    top: 50%;
}

.arrowIcon {
    color: gray;
    transition: color 0.3s ease;
}

.arrowIcon:hover {
    color: white;
    /* Change to your desired color */
    cursor: pointer;
}

.leftAndRight {
    flex: 0 0 20%;
}

.middle {
    flex: 0 0 60%;
}

.leftOrRightBecomeNone {
    flex: 0 0 0% !important;
    transition: all 0.5s;
}

.movingMiddle {
    flex: 0 0 20% !important;
    transition: all 0.5s;
}

.moving {
    flex: 0 0 60% !important;
    transition: all 0.5s;
}

.visible {
    opacity: 1;
}

.visibleWithTransition {
    opacity: 1;
    transition: all 0.5s;
}

.notVisible {
    opacity: 0.2;
    transition: all 0.5s;
}

.notVisibleWithoutTransition {
    opacity: 0.2;
}