.resultModal {
    position: absolute;
    top: 80px;
    outline: none;
    border-radius: 8px;
    padding: 0px;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
}


.resultModal[open] {
    animation: slide-in-from-top 0.45s ease-out;
    border: none;
}

.resultModal::backdrop {
    border: none;
}

.resultModal form {
    text-align: right;
}

.imageContainer {
    flex: 1 0 auto;
    position: relative;
    height: calc(100vh - 300px);
    display: flex;
    justify-content: space-between;
    border: none;
    overflow: hidden;
    transition: transform 3s ease-in-out;
}


@keyframes loadLine {
    from {
        width: 0%;
        /* Start with 0% width */
    }

    to {
        width: 100%;
        /* End with 100% width */
    }
}

.leftArrow,
.rightArrow {
    cursor: pointer;
    z-index: 2;
}

.leftArrow {
    position: absolute;
    left: 0px;
    top: 50%;
}

.rightArrow {
    position: absolute;
    right: 0px;
    top: 50%;
}

.arrowIcon {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: color 0.3s ease;
}

.arrowIcon:hover {
    color: white;
    /* Change to your desired color */
    cursor: pointer;
}

.animateFlexTwoTimesLeft {
    position: relative;
    height: 50%;
    width: 0%;
    /* Start with 0% width */
    flex: 0 0 auto;
    /* Ensure flex-grow is not applied initially */
    transition: all 1s;
    animation: expandTwoTimesLeft 1s forwards;
    /* Apply animation */
}

.animateFlexLeft {
    position: relative;
    height: 50%;
    width: 0%;
    /* Start with 0% width */
    flex: 0 0 auto;
    /* Ensure flex-grow is not applied initially */
    transition: all 1s;
    animation: expandLeft 1s forwards;
    /* Apply animation */
}

@keyframes expandTwoTimesLeft {
    to {
        width: 10%;
        /* End with 10% width */
    }
}

@keyframes expandLeft {
    to {
        width: 20%;
        /* End with 10% width */
    }
}

.twoTimesLeftAndRight {
    flex: 0 0 10%;
    height: 50%;
}

.leftAndRight {
    flex: 0 0 20%;
    height: 50%;
}

.movingTwoTimesLefAndRight {
    flex: 0 0 20% !important;
    height: 50%;
    transition: all 1s;
}

.middle {
    flex: 0 0 40%;
    height: 50%;
}

.leftOrRightBecomeNone {
    flex: 0 0 0% !important;
    transition: all 1s;
}

.movingPrevToTwoTimesPrev {
    flex: 0 0 10% !important;
    transition: all 1s;
    height: 50%;
}

.movingOneTimeToTwoTimes {
    flex: 0 0 10% !important;
    transition: all 1s;
    height: 50%;
}

.movingMiddle {
    flex: 0 0 20% !important;
    transition: all 1s;
    height: 50%;
}

.movingLeftAndRight {
    flex: 0 0 20% !important;
    height: 50%;
    transition: all 1s;
}

.movingToMiddle {
    flex: 0 0 40% !important;
    height: 50%;
    transition: all 1s;
}

.movingTwoTimesToOneTime {
    flex: 0 0 20% !important;
    height: 50%;
    transition: all 1s;
}

.visible {
    opacity: 1;
}

.visibleWithTransition {
    opacity: 1;
    transition: all 1s;
}

.notVisible {
    opacity: 0.4;
    transition: all 1s;
}

.notVisibleWithoutTransition {
    opacity: 0.4;
}